PORT=3000

ADMIN_USER=admin
ADMIN_PASSWORD=change_me
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=change_me
JWT_SECRET=replace_with_long_random_secret
JWT_EXPIRES_IN=8h
SMTP_SECRET_KEY=replace_with_32_char_or_longer_secret
APP_TIMEZONE=Asia/Kolkata

PGHOST=localhost
PGPORT=5432
PGDATABASE=datacenter_dashboard
PGUSER=postgres
PGPASSWORD=change_me
PGSSLMODE=disable

VCENTER_HOST=ip adress or hostname of vCenter
VCENTER_USER=administrator@vsphere.local
VCENTER_PASSWORD=change_me
VCENTER_IGNORE_SSL=true

ILO_HOST_1=ip adress or hostname of vCenter
ILO_USER_1=Administrator
ILO_PASS_1=change_me

ILO_HOST_2=ip adress or hostname of vCenter
ILO_USER_2=Administrator
ILO_PASS_2=change_me

ILO_HOST_3=ip adress or hostname of vCenter
ILO_USER_3=Administrator
ILO_PASS_3=change_me
VSPHERE_CACHE_TTL=10000
ILO_CACHE_TTL=15000

RDU_ENABLED=true
RDU_BASE_URL=ip adress or hostname of RDU
RDU_AUTH_MODE=vertiv_cgi
RDU_USERNAME=rduadmin
RDU_PASSWORD=change_me
RDU_LOGIN_PATH=/
RDU_DATA_PATH=/c
RDU_VERIFY_TLS=false
RDU_CACHE_TTL=5000
RDU_TIMEOUT_MS=15000
RDU_BEARER_TOKEN=
RDU_FIELD_MAP=

ARCHIVE_RETENTION_HOURS=168
WEEKLY_ARCHIVE_CRON=0 0 * * 0
WEEKLY_ARCHIVE_TIMEZONE=Asia/Kolkata
