PORT=3000

ADMIN_USER=admin
ADMIN_PASSWORD=change_me
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=change_me
JWT_SECRET=replace_with_long_random_secret
JWT_EXPIRES_IN=8h
SMTP_SECRET_KEY=replace_with_32_char_or_longer_secret
APP_TIMEZONE=Asia/Kolkata

PGHOST=localhost
PGPORT=5432
PGDATABASE=datacenter_dashboard
PGUSER=postgres
PGPASSWORD=change_me
PGSSLMODE=disable

VCENTER_HOST=ip adress or hostname of vCenter
VCENTER_USER=administrator@vsphere.local
VCENTER_PASSWORD=change_me
VCENTER_IGNORE_SSL=true

ILO_HOST_1=ip adress or hostname of vCenter
ILO_USER_1=Administrator
ILO_PASS_1=change_me

ILO_HOST_2=ip adress or hostname of vCenter
ILO_USER_2=Administrator
ILO_PASS_2=change_me

ILO_HOST_3=ip adress or hostname of vCenter
ILO_USER_3=Administrator
ILO_PASS_3=change_me
VSPHERE_CACHE_TTL=10000
ILO_CACHE_TTL=15000

RDU_ENABLED=true
RDU_BASE_URL=ip adress or hostname of RDU
RDU_AUTH_MODE=vertiv_cgi
RDU_USERNAME=rduadmin
RDU_PASSWORD=change_me
RDU_LOGIN_PATH=/
RDU_DATA_PATH=/c
RDU_VERIFY_TLS=false
RDU_CACHE_TTL=5000
RDU_TIMEOUT_MS=15000
RDU_BEARER_TOKEN=
RDU_FIELD_MAP=

CAMERA_SERVER_ROOM_BASE_URL=http://172.30.0.102
CAMERA_SERVER_ROOM_PATH=/cgi-bin/mjpg/video.cgi?channel=1&subtype=0
CAMERA_SERVER_ROOM_FALLBACK_PATHS=/cgi-bin/mjpg/video.cgi?channel=1&subtype=0,/cgi-bin/snapshot.cgi?channel=1
CAMERA_SERVER_ROOM_AUTH_TYPE=auto
CAMERA_SERVER_ROOM_USERNAME=admin
CAMERA_SERVER_ROOM_PASSWORD=change_me
CAMERA_SERVER_ROOM_VERIFY_TLS=false
CAMERA_SERVER_ROOM_TIMEOUT_MS=20000
CAMERA_SERVER_ROOM_RTSP_URL=
CAMERA_SERVER_ROOM_RTSP_PORT=554
CAMERA_SERVER_ROOM_RTSP_PATH=/cam/realmonitor?channel=1&subtype=0
CAMERA_SERVER_ROOM_HLS_ENABLED=true
CAMERA_SERVER_ROOM_HLS_OUTPUT_DIR=runtime/camera-hls/server-room
CAMERA_SERVER_ROOM_HLS_SEGMENT_SECONDS=2
CAMERA_SERVER_ROOM_HLS_LIST_SIZE=6
CAMERA_SERVER_ROOM_HLS_VIDEO_BITRATE=3000k
CAMERA_SERVER_ROOM_HLS_MAX_RATE=3500k
CAMERA_SERVER_ROOM_HLS_BUFFER_SIZE=7000k
CAMERA_SERVER_ROOM_HLS_WIDTH=
CAMERA_SERVER_ROOM_HLS_HEIGHT=
CAMERA_SERVER_ROOM_FFMPEG_PATH=ffmpeg

FACE_RECOGNITION_ENABLED=true
FACE_RECOGNITION_INTERVAL_MS=2500
FACE_RECOGNITION_CONFIRMATION_FRAMES=3
FACE_RECOGNITION_AUTH_THRESHOLD=0.65
FACE_RECOGNITION_SUSPICIOUS_THRESHOLD=0.5
FACE_RECOGNITION_EMBEDDING_CACHE_MS=15000
FACE_RECOGNITION_UNKNOWN_DIR=runtime/unknown-faces
FACE_RECOGNITION_EMPLOYEE_DIR=runtime/employee-faces
FACE_RECOGNITION_MATCH_DIR=runtime/matched-faces
FACE_RECOGNITION_EMAIL_ALERTS=true
FACE_RECOGNITION_SERVICE_URL=
FACE_RECOGNITION_SERVICE_PATH=/embed
FACE_DETECTION_SERVICE_URL=
FACE_DETECTION_SERVICE_PATH=/detect-faces
FACE_EMBEDDING_SERVICE_URL=
FACE_EMBEDDING_SERVICE_PATH=/embed
FACE_DETECTION_TIMEOUT_MS=12000
FACE_EMBEDDING_TIMEOUT_MS=12000
FACE_EMBEDDING_SIZE=128
PERSON_DETECTION_ENABLED=true
PERSON_DETECTION_SERVICE_URL=http://127.0.0.1:8010
PERSON_DETECTION_SERVICE_PATH=/analyze-frame
PERSON_DETECTION_TIMEOUT_MS=8000
PERSON_DETECTION_MIN_CONFIDENCE=0.35
PERSON_DETECTION_RESIZE_WIDTH=960
PERSON_DETECTION_SCALE=1.05
PERSON_DETECTION_WIN_STRIDE=4
PERSON_DETECTION_PADDING=8
PERSON_DETECTION_NMS_THRESHOLD=0.35
FACE_DETECTION_SCALE_FACTOR=1.1
FACE_DETECTION_MIN_NEIGHBORS=5
FACE_DETECTION_MIN_SIZE=32

BIOMETRIC_SOURCE=sqlserver
BIOMETRIC_BASE_URL=http://10.10.10.68:81
BIOMETRIC_PATH=/ReportView.aspx?NAME=A
BIOMETRIC_REPORT_METHOD=get
BIOMETRIC_AUTH_TYPE=auto
BIOMETRIC_USERNAME=admin
BIOMETRIC_PASSWORD=change_me
BIOMETRIC_BEARER_TOKEN=
BIOMETRIC_COOKIE=
BIOMETRIC_LOGIN_PATH=
BIOMETRIC_FORM_USERNAME_FIELD=txtUserName
BIOMETRIC_FORM_PASSWORD_FIELD=txtPassword
BIOMETRIC_FORM_SUBMIT_FIELD=btnLogin
BIOMETRIC_FORM_SUBMIT_VALUE=Login
BIOMETRIC_LOGIN_SUCCESS_MARKER=Logout
BIOMETRIC_TIMEOUT_MS=10000
BIOMETRIC_DATE_FIELD=
BIOMETRIC_FROM_DATE_FIELD=
BIOMETRIC_TO_DATE_FIELD=
BIOMETRIC_DATE_FORMAT=MM/DD/YYYY
BIOMETRIC_EXTRA_PARAMS=
BIOMETRIC_MACHINE_SERIALS=00054,00055
BIOMETRIC_ALLOWED_EVENTS=SERVER IN,SERVER OUT
BIOMETRIC_SQLSERVER_HOST=localhost
BIOMETRIC_SQLSERVER_PORT=1433
BIOMETRIC_SQLSERVER_INSTANCE=
BIOMETRIC_SQLSERVER_DATABASE=SAVIOR
BIOMETRIC_SQLSERVER_USER=sa
BIOMETRIC_SQLSERVER_PASSWORD=change_me
BIOMETRIC_SQLSERVER_ENCRYPT=false
BIOMETRIC_SQLSERVER_TRUST_CERT=true
BIOMETRIC_SQLSERVER_USE_UTC=false
BIOMETRIC_SQLSERVER_TABLE=machinerawpunch
BIOMETRIC_SQLSERVER_DATE_COLUMN=officepunch
BIOMETRIC_SQLSERVER_CARD_COLUMN=cardno
BIOMETRIC_SQLSERVER_INOUT_COLUMN=inout
BIOMETRIC_SQLSERVER_MACHINE_COLUMN=mc_no
BIOMETRIC_SQLSERVER_ACCESS_MAP={"00054":"IN","00055":"OUT"}

ARCHIVE_RETENTION_HOURS=168
WEEKLY_ARCHIVE_CRON=0 0 * * 0
WEEKLY_ARCHIVE_TIMEZONE=Asia/Kolkata
